body {
    background-color: #F3EBF6;
    font-family: 'Ubuntu', sans-serif;
}

html,
body,
div,
p,
ul,
li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-style: normal;
}

.container-body {
    margin: 10px;
}

textarea {
    resize: none;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: #8C55AA;
}

.submit {
    cursor: pointer;
    border-radius: 2px;
    color: #fff;
    background: #8C55AA;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    text-decoration: none;
}